@import './variables';
.m-time {
  color: $color-white;
  padding-top: 10px;
  &__showtime {
    text-align: center;
    &_time {
      width: 65px;
      height: 70px;
      display: inline-block;
      border-radius: 4px;
      background-color: #f5f7f9;
      font-size: 32px;
      font-weight: bold;
      color: #122966;
      line-height: 65px;
      text-align: center;
    }
    &_separator {
      display: inline-block;
      font-size: 32px;
      font-weight: bold;
      color: #97a1bc;
      width: 32px;
      height: 65px;
      line-height: 65px;
      text-align: center;
    }
  }
  &__sliders {
    margin-top: 35px;
    padding: 0 10px;
  }
  &__sliders-text {
    position: relative;
    left: -10px;
    font-size: 12px;
    font-weight: bold;
    color: #22366d;
    margin-top: 7px;
    &_minutes {
      margin-top: 30px;
    }
    &_hours {

    }
  }
  &__slider {
    position: relative;
    display: inline-block;
    background-color: $color-gray;
    border-radius: 3px;
    height: $slider-size;
    width: 100%;
    cursor: pointer;
    .value {
      position: absolute;
      background-color: $color-blue;
      border-radius: 3px;
      top: 0;
      height: 100%;
    }
  
    .handle {
      position: absolute;
      width: $slider-size;
      height: $slider-size;
  
      &:after {
        position: relative;
        display: block;
        content: '';
        top: -$slider-fix / 2;
        left: -($slider-size + $slider-fix)/2;
        width: $slider-size + $slider-fix;
        height: $slider-size + $slider-fix;
        background-color: #fff;
        border: 2px solid $color-blue;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}