:root {
  --input-moment-color-blue: #4e78f6;
  --input-moment-color-gray: #dfe0e4;
  --input-moment-color-white: #fff;
  --input-moment-slider-handle-size: 20px;
  --input-moment-slider-size: 2px;
  --input-moment-slider-fix: 10px;
}
